<div class="subtitle">
  <h2>Edit Workout</h2>
</div>

<div class="container edit-workout">
  <form method="post" (ngSubmit)="save()" #formtvshow="ngForm" class="mt-4 add-workout">
    <div class="form-group">
      <label for="title">Name:</label>
      <button type="button" class="btn btn-link delete-workout" (click)="deleteWorkout()">Delete workout</button>
      <input type="text" class="form-control" id="title" placeholder="Type a name" name="title" [(ngModel)]="workout.name" >
    </div>
    <div class="form-group">
      <label>Excersices:</label>
      <button type="button" class="btn btn-link" [routerLink]="['/add-excersice']">Add new excersice</button>
      <div *ngFor="let ex of excersices; let i = index" class="excersice">
        <input class="css-checkbox" id='check[{{i}}]' [checked]="excersices[i].selected" type="checkbox" (change)="excersices[i].selected = !excersices[i].selected">
        <label for='check[{{i}}]' name="checkbox16_lbl" class="css-label dark-plus-cyan">{{ex.name | capitalize}}</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="input-group">
          <button type="submit" class="btn btn-secondary save-btn">Save</button>
          <button type="button" (click)="cancel()" class="btn btn-outline-secondary">Cancel</button>
      </div>
    </div>
  </form>
</div>
