<div class="working">
  <div class="subtitle">
    <h2>{{workout.name | capitalize}}</h2>
  </div>

  <div class="container">
    <ul class="workout-list">

      <figure *ngIf="loading" class="d-block mx-auto"><img width='100%' src="../../../assets/img/preloader.gif" alt="preloader" /></figure>

      <li class="workout" *ngFor="let ex of excersices; let i = index">
        <div class="workout-head">
          <h3 class="workout-name">{{ex.name | capitalize }}</h3>
          <h4 class="workout-details">{{ex.sets}} x {{ex.reps}}<span *ngIf="ex.lastWeightUsed !== 0">, {{ex.lastWeightUsed}} kg</span></h4>
        </div>
        <div class="workout-body">
          <div *ngFor="let n of numbers[ex._id]" class="circle-container"><div (click)="triggerTracker(ex.restingTime, i, n)" [ngClass]="{'done': checkSet(i,n)}" class="circle"></div></div>
        </div>
        <div class="workout-footer">
          <p class="difficulty">{{ex.difficulty | capitalize }}</p>
          <button type="button" (click)="editExcersice(ex._id)" class="btn btn-link">Edit</button>
        </div>
      </li>
    </ul>
    <div class="workout-buttons">
      <button type="button" *ngIf="!allDone" class="btn btn-secondary">Finish</button>
      <button type="button" *ngIf="allDone" (click)="finish()" class="btn btn-secondary save-btn finish-btn">Finish</button>
      <button type="button" (click)="editWorkout()" class="btn btn-secondary save-btn">Edit workout</button>
      <button type="button" (click)="setAll()" class="btn btn-outline-secondary">Check all</button>
    </div>
  </div>
</div>
